.navbar.navbar-default.portal{
  background-color: #262626;
  border-radius: 0px;
  border: 0px;
  min-height: 108px;
  margin-bottom: 0px;
  position: relative;
  z-index: 200;
}

.navbar.navbar-default.portal .navbar-header{
  padding-left: 30px;
  padding-top: 43px;
}

.navbar.navbar-default.portal .navbar-header a.navbar-brand{
  padding: 15px;
}


.navbar-nav > li > a{
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 108px;
  display: inline;
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a{
  color: #CCCCCC;
  font-weight: 100;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color: #F2F2F2;
}

.nav-btn-group{
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.navbar-nav li a.img.dropdown-toggle{
  color: #ccc;
}

ul.navbar-nav li a.img.dropdown-toggle:hover, ul.navbar-nav li a.img.dropdown-toggle:focus{
  color: #FFFFFF;
}


ul.navbar-nav li a.img.dropdown-toggle img{
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background: none;
}

.navbar-nav > li > .dropdown-menu{
  background: #262626;
  margin-top: -1px;
  border:0px;
  border-radius: 0px;
  min-width: 80px;
  padding: 0px;
  box-shadow: none;
}

.navbar-nav > li > .dropdown-menu > li > a{
  color: #CCCCCC;
  border: 0px;
  padding: 3px 10px;
}

.navbar-nav > li > .dropdown-menu > li{
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-nav > li > .dropdown-menu > li > a:focus{
  background: #4f4f4f;
}

.nav-btn-group ul.dropdown-menu{
  background: #262626;
  margin-top: -1px;
  border:0px;
  border-radius: 0px;
  min-width: 80px;
  padding: 0px;
}


.nav-btn-group ul.dropdown-menu > li > a{
  color: #CCCCCC;
  border: 0px;
}

.nav-btn-group ul.dropdown-menu > li{
  border-top: #FFFFFF .5px solid;
}
.nav-btn-group ul.dropdown-menu > li > a:hover, .nav-btn-group ul.dropdown-menu > li > a:focus{
  background: #4f4f4f;
}

.dropdown-menu > li > a{
  line-height: 28px;
}

.footer-portal{
  background: #FFFFFF;
  color: #000000;
  font-size: 14px;
  font-family: "Arial", "sans-serif", "Menlo";
  border-top: 1px solid rgb(237, 237, 237);
}

.footer-portal p{
  margin-bottom: 10px;
}

.footer-portal .footer-bg{
  padding-top: 24px;
  padding-bottom: 20px;
}


.footer-portal .copyright{
  color: #888888;
  font-size: 10px;
}

.footer-portal .about-desc{
  line-height: 25px;
}

.footer-portal .about-desc a{
  color: #5C5C5C;
}

.footer-portal .about-desc a:hover{
  text-decoration: none;
}

.footer-portal .about-desc p{
  color: #5C5C5C;
}

.footer-portal .about-desc p{
  color: #000000;
}

.footer-portal{
  text-align: left;
}

.footer-portal .title{
  margin-top: 0 !important;
  font-family: "Arial", "sans-serif", "Menlo" !important;
}

.footer-portal .contact a:hover, .footer-portal .contact a:focus, .footer-portal .contact a:active{
  text-decoration: none;
  cursor: pointer;
}

.footer-portal .follow_us{
  padding-bottom: 10px;
}

.footer-portal .social{
}

.footer-portal .social a{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.footer-portal .social a img{
  width: 24px;
  height: 24px;
}

.footer-portal .social a:hover, .footer-portal .social a:focus{
  text-decoration: none;
}

.footer-portal .bottom{
  border-top: #F2F2F2 0.5px solid;
  font-size: 10px;
}

.footer-portal .bottom .gray{
  color: #939393;
  margin-top: 10px;
}

.footer-portal .bottom .gray a{
  color: #939393;
}

.sub-menu-list{
  width: 100%;
  min-width: 1170px;
  position: absolute;
  z-index: 100;
  background: none;
  display: block;
  top: -108px;
}

.sub-menu-list .submenu-main{
  background: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(0,0,0,.1);
  padding: 10px 0px;
}

.sub-menu-list .submenu-main ul.list{
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
}

.sub-menu-list .submenu-main ul.list li{
  display: inline-block;
}

.sub-menu-list .submenu-main ul.list li a{
  color: #4A4A4A;
  display: block;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}


.sub-menu-list .submenu-main ul.list li a.img-only{
  height: 60px;
  line-height: 60px;
}

.sub-menu-list .submenu-main ul.list li a.txt-only{
  height: 60px;
  line-height: 60px;
}

.sub-menu-list .submenu-main ul.list li a.img-txt{
  height: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.sub-menu-list .submenu-main ul.list li a.img-txt img{
  height: 44px;
  margin-bottom: 4px;
}

.sub-menu-list .submenu-main ul.list li a.img-txt font{
  line-height: 18px;
  font-size: 14px;
}

.sub-menu-list .submenu-main ul.list li a:active{
  text-decoration: none;
}

.sub-menu-list .submenu-main ul.list li a:hover, .sub-menu-list .container .main ul.list li a:focus{
  text-decoration: none;
  color: #262626;
  box-shadow:inset 0px -2px 0px 0px #529bd7;
}

.portal-header-nav{
  background: #262626;
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.container-custom{
    padding-right: 15px;
    margin: 0 auto;
}

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}

.navbar-nav.navbar-right {
  float: right;
}


/*.navbar-nav.navbar-left{
  padding-left: 40px;
}*/

.navbar-nav.navbar-left > li > a{
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-nav.navbar-left.zh-CN{
  padding-left: 40px;
}

.navbar-nav.navbar-left.zh-CN > li > a{
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav.navbar-right > li > a{
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}